{# Handlebar template for displaying the nearby images #}
{% verbatim %}
<div id="content" class="map-popup">
    <div id="siteNotice">
    </div>
    <div id="bodyContent">
        <div class="row">
            <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3 clearing-thumbs" data-clearing>
                <li>
                    <a href="{{featuredImage.path}}" class="th">
                        <img src="{{featuredImage.path}}">
                    </a>
                </li>
                <li>
                    <a href="{{trendingImages.0.path}}" class="th">
                        <img src="{{trendingImages.0.path}}">
                    </a>
                </li>
                <li>
                    <a href="{{trendingImages.1.path}}" class="th">
                        <img src="{{trendingImages.1.path}}">
                    </a>
                </li>
                <li>
                    <a href="{{images.0.path}}" class="th">
                        <img src="{{images.0.path}}">
                    </a>
                </li>
                <li>
                    <a href="{{images.1.path}}" class="th">
                        <img src="{{images.1.path}}">
                    </a>
                </li>
                <li>
                    <a href="{{images.2.path}}" class="th">
                        <img src="{{images.2.path}}">
                    </a>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="large-4 columns">
                <a href="#" data-reveal-id="upload-modal"><i class="add-icon"></i> Add Image</a>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
